body{
  padding: 20px 40px;
}
h1 {
    font-size: 20px;
    background-color : rgba(171, 88, 12, 0.89);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-radius: 0px 0px 30px 30px

 }
.pollElement{
  background-color: rgb(208, 219, 215);
  font-family: "Georgia", Times, serif;
  position:relative;
  width:80%;
  margin-left: 5%;
  margin-bottom: 10px;
  padding:20px;
  text-decoration:  none;
  display: inline-table;
  border-left: thick solid rgb(47, 98, 228);
}
.pollTitle{
  color: rgb(83, 89, 89);
  font-size: 20px;
}
.pollComments{
  margin-top: 5px;
}

.form-control{
  display: block;
  width:40%;
  height: 30px;
  margin: 10px;
}

/*
nav {
  width: 100%;
  font-size: 20px;

  background-color: rgb(37, 116, 173);
}

nav ul {
  overflow: hidden;
  list-style: none;

}
nav ul li {
  width: 20%;
  float: left;
  text-align:center;
  padding-top: 10px;
  padding-bottom: 10px;
}
a{
  text-decoration: none;
  color: rgb(3, 5, 8)
}


nav li:hover{
  background-color: rgb(62, 156, 224);
}*/
#wrap	{
	width: 100%; /* Spans the width of the page */
	height: 50px;
	margin: 0; /* Ensures there is no space between sides of the screen and the menu */
	z-index: 99; /* Makes sure that your menu remains on top of other page elements */
	position: relative;
  background-color: rgb(37, 116, 173);
	}
.navbar	{
	height: 50px;
  padding: 0;
  margin: 0;
  position: absolute; /* Ensures that the menu doesn’t affect other elements */
  border-right: 1px solid #54879d;
}
.navbar a	{
	padding: 18px 0;  /* Adds a padding on the top and bottom so the text appears centered vertically */
	border-left: 1px solid #54879d; /* Creates a border in a slightly lighter shade of blue than the background.  Combined with the right border, this creates a nice effect. */
	border-right: 1px solid #1f5065; /* Creates a border in a slightly darker shade of blue than the background.  Combined with the left border, this creates a nice effect. */
	text-decoration: none;  /* Removes the default hyperlink styling. */
	color: white; /* Text color is white */
	display: block;
}
.navbar li:hover, a:hover {background-color: rgb(62, 156, 224);}

.navbar li 	{
	height: auto;
	width: 150px;  /* Each menu item is 150px wide */
	float: left;  /* This lines up the menu items horizontally */
	text-align: center;  /* All text is placed in the center of the box */
	list-style: none;  /* Removes the default styling (bullets) for the list */
	font: normal bold 12px/1.2em Arial, Verdana, Helvetica;
	padding: 0;
	margin: 0;
  background-color: rgb(37, 116, 173);
}
.navbar li ul 	{
		display: none;  /* Hides the drop-down menu */
		height: auto;
		margin: 0; /* Aligns drop-down box underneath the menu item */
		padding: 0; /* Aligns drop-down box underneath the menu item */
}
.navbar li:hover ul 	{
  display: block; /* Displays the drop-down box when the menu item is hovered over */
}
.navbar li ul li {background-color: rgb(62, 156, 224);}

.navbar li ul li a 	{
		border-left: 1px solid #1f5065;
		border-right: 1px solid #1f5065;
		border-top: 1px solid #74a3b7;
		border-bottom: 1px solid #1f5065;
		}

.navbar li ul li a:hover	{  background-color: rgb(62, 156, 224);}
